{% from '../macros/icon.twig' import icon %}

<footer class="footer">
	<div class="container">
			<div class="footer__holder">
				<a href="/" class="footer__logo">
					{{ icon('logo' , {'width': 50, 'height': 50}) }}
				</a>
				<nav class="footer-nav">
					<ul>
						{% for item in navigation %}
							<li {% if curPageId == item.pageId %} class="active"{% endif %}><a href="{{ item.url }}">{{ item.title }}</a></li>
						{% endfor %}
					</ul>
					<ul>
						{% for item in navigation %}
							<li {% if curPageId == item.pageId %} class="active"{% endif %}><a href="{{ item.url }}">{{ item.title }}</a></li>
						{% endfor %}
					</ul>
					<ul>
						{% for item in navigation %}
							<li {% if curPageId == item.pageId %} class="active"{% endif %}><a href="{{ item.url }}">{{ item.title }}</a></li>
						{% endfor %}
					</ul>
				</nav>
				<div class="footer__contacts">
					<div class="footer__phone">+7 9123456789</div>
					<a href="mailto:project@mail.com">project@mail.com</a>
				</div>
			</div>
	</div>
</footer>
