{% from '../macros/icon.twig' import icon %}

<header class="header header_sticky {{ headerAttrs.class|default('') }}">
	<div class="container">
			<div class="header__holder">
				<a href="/" class="header__logo">
					{{ icon('logo' , {'width': 50, 'height': 50}) }}
				</a>
				<nav class="main-nav">
					<ul>
						{% for item in navigation %}
							{% if item.children|default(false) and item.children|length %}
								<li class="has-children">
									<span>{{ item.title }}</span>
									<div class="sub-nav">
										<ul>
											{% for item in item.children %}
												<li><a href="{{ item.url }}">{{ item.title }}</a></li>
											{% endfor %}
										</ul>
									</div>
								</li>
							{% else %}
								<li {% if curPageId == item.pageId %} class="active"{% endif %}><a href="{{ item.url }}">{{ item.title }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</nav>
				<div class="header__info">
					<div class="header__phone">+7 9123456789</div>
					<a href="mailto:project@mail.com">project@mail.com</a>
				</div>
				<a href="#" class="ham-trigger">&nbsp;</a>
			</div>
	</div>
</header>

